:root{
	--degradado: linear-gradient(90deg, #5b30aa, #733db9);
	--gris: #e8ecf3;
	--rojo: #fc2367;

}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans';
}	

nav{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0px;
	top: 0px;
	background: var(--degradado);
}

.tab{
	width: 50%;
	text-align: center;
	float: left;
	margin-top: 60px;
	height: 60px;
	line-height: 60px;
	color: rgba(0,0,0,.3);
	box-sizing: border-box;
	font-size: .9em;
	transition: .2s all;
	border-bottom: 1px solid transparent;
}

	.activo{
		border-bottom: 60px solid var(--rojo);
		color: white
	}

section, article{
	width: 100%;
	position: fixed;
	top: 120px;
	height: calc(100% - 100px);
	background: var(--gris);
}

article{
	top: 60px;
	height: calc(100% - 130px);
	overflow: scroll;
	padding-bottom: 80px;
}

footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
	background: var(--gris);
}

.entrada{
	animation-name: entrada;
	animation-duration: .5s;
}

	@keyframes entrada{
		from {
			left: 50%;
			opacity: 0;
		}
		to{
			left: 0px;
			opacity: 1;
		}
	}

.salida{
	animation-name: salida;
	animation-duration: .5s;
	left: -100%;
}

	@keyframes salida{
		from {
			left: 0%;
			opacity: 1;
		}
		to{
			left: -50%;
			opacity: 0;
		}
	}

.chat{
	width:calc(100% - 20px);
	margin-left: 10px;
	background: white;
	height: 70px;
	line-height: 40px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	transition: .2s all;
	opacity: 1;
	margin-top: 10px;
	border-radius: 3px;
}

.chat h1{
	font-size: 1.1em;
	font-weight: lighter;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 3px;
	color: var(--rojo);

}

.chat h2{
	font-size: 1em;
	font-weight: lighter;
	height: 30px;
	line-height: 20px;
	box-sizing: border-box;
	padding-left: 3px;
	color: rgba(0,0,0,.7)
}

.oculto{
	margin-left: 25%;
	opacity: 0;
}

.circulo{
	width: 50px;
	height: 50px;
	background: var(--rojo);
	position: fixed;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	z-index:999999;	
	border-radius: 50%;
	transition: .5s all;
	transform:scale(.0001);
}

	.grow-circulo{
		transform: scale(20);
	}

.bg-rojo{
	background: var(--rojo);
}

nav h1{
	font-size: 1.5em;
	line-height: 60px;
	color: white;
	font-weight: 300;
}

nav i{
	width: 20px;
	font-size: 1.4em !important;
	float: left;
	line-height: 60px !important;
	margin-left: 3px;
	display: block;
	height: 60px;
	color: rgba(255,255,255,.6);
}

footer>textarea{
	width: calc(100% - 80px);
	height: 55px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	padding-left: 10px;
	border: none;
	margin-left: 10px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);
	resize: none;
	outline: none;
	box-sizing: border-box;
	float: left;
}

footer>button{
	background: var(--rojo);
	float: left;
	width: 60px;
	height: 55px;
	margin-top: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-left: 5px;
	color: white;
	font-size: 1.5em;

}

.msj{
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	margin-top: 10px;
	color: white;
	clear: both;
	max-width: 250px;
}

.mio{
	float: right;
	background: var(--degradado);
}

.entrante{
	float: left;
	background: var(--rojo);
}

.entradaMSJ{
	animation-duration: .1s;
	animation-name: entradaMSJ;
}

@keyframes entradaMSJ{
		from {
			margin-top: 100px;
			opacity: 0;
		}
		to{
			margin-top: 10px;
			opacity: 1;
		}
	}

.add{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	z-index: 999999999999;
	background: var(--rojo);
	text-align: center;
	transition: .3s all
}

	.add>i{
		color: white;
		font-size: 2em;
		line-height: 60px;
	}

.hide-add{
	bottom: -100px
}